<center>
<form action="/urls" method="post">
<br><b>
<b>Enter a URL that you would like to shorten:</b><br><br>
<input type="text" name="url"><br><br>
<input type="submit" value="Submit">
</form>
</center>
